/*mobile style*/
body {
    width: 100%;
    background-image: url(Images/catWallpaper.jpg);
    background-repeat: repeat;
    color: azure;
    /*remove text overflow*/
    
}

/*buttons*/
.divBtn {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    background-color: #FF66CC;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF99FF;
}

#nextButton {
    visibility: visible;
    position: absolute;
}

#noButton {
    visibility: hidden;
}

#yesButton {
    visibility: hidden;
}

.audioBtn {
    border: none;
    background-color: #FF66CC;
    color: white;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Content*/

.audioImg {
    height: auto;
    border-style: none;
}

img {
    width: 100%;
    height: auto;
    border-color: #FF66CC;
    border-style: solid;
}

div {
    width: 40%;
    margin: 10% auto;
    padding: 20px;
    background-color: pink !important;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
}

p {
    font-family: 'Lato', sans-serif;
    font-size:1.2em;
}


/* Tablet styles */
@media (min-width: 768px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    .container {
        width: 60%;
    }
}